# Xcode
*.xcodeproj/
*.xcworkspace/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
xcuserdata/
DerivedData/
*.hmap
*.ipa
*.xcarchive
*.xcresult

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Swift
*.swiftdoc
*.swiftmodule/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

